body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: inherit;
}
#logo img {
  margin: 0px 10px;
  height: 50px;
}
nav {
  margin-right: 5px;
  text-align: right;
}
nav a {
  margin: 0 10px;
  color: seashell;
  text-decoration: underline;
}
#mission {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}
h2, h2, h4 {
  margin: 0;
  padding: 10px;
}
.text {
  width: inherit;
  background-color: black;
}
#tea {
  display: inline-flex;
  flex-flow: column wrap;
  width: 1000px;
  height: 700px;
  margin: 50px auto;
}
.teaimg img {
  height: 200px;
  width: 300px;
}
