body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  width: 100%;
  top: 0;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: inherit;
}
#logo img {
  margin: 0px 10px;
  height: 50px;
}
nav {
  margin-right: 10px;
  text-align: right;
}
nav a {
  margin: 0 10px;
  color: seashell;
  text-decoration: underline;
}
#mission {
  padding-top: 68px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}
h2, h2, h4 {
  margin: 0;
  padding: 10px;
}
.text {
  width: inherit;
  background-color: black;
}
#tea {
  padding-top: 68px;
  width: 1000px;
  height: 700px;
  margin: auto;
}
.teaflex {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.teaimg {
  margin: 10px 15px;
}
.teaimg img {
  height: 200px;
  width: 300px;
}
#locas {
  padding-top: 68px;
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
}
.locaflex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loca {
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  opacity: 1;
}
.loca p {
  margin: 35px 0;
}
#contact {
  height: 200px;
}
footer {
  margin: 20px 20px;
  text-align: left;
}
